.contacts img {
    float: left;
    margin-top: 2px;
}
.contacts h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
        margin-bottom: 5px;
}

.contacts {
    line-height: 20px;
    font-size: 12px;
    font-weight: 600;
    }

.contacts-info {
 margin-left: 30px;
}

.contacts-form {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    text-transform: uppercase;
       padding: 15px 15px;
    border: 1px solid #555555;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border-color: #c0301c;
}

.footer-btn {
    color: #555555;
    transition: none;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    margin-top: 10px;
    padding: 15px 15px;
    border: 1px solid #555555;
    text-transform: uppercase;
    outline: none;
    float: left;
}

.contacts-ann {
    display: inline-block;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 50px;
}

.contacts-ann-redstar {
    color: #c0301c;
}

@media (max-width: 768px) {

    .contacts-positions-form {
        display: flex;
       flex-wrap: wrap;
        justify-content: center;
    }

    .contacts-positions {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .contacts {
       margin: 10px;
    }
    .contacts h3 {
        margin-top: 0;
 }

