.partner-images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.partner-images img {
    vertical-align: middle;
}

.partner-text {
    margin-top: 70px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.partner-name {
    margin-top: 35px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.partner-item {
    text-align: center;
    margin: auto;
}

.partner-item img {
    margin: 0 10px 0 10px;
}

@media (max-width: 768px) {
    .partner-images img {
        margin: 15px;
    }
}