.partner-images {
    text-align: center;

}

.partner-images img {
    display: inline-block;
    margin-right: 60px;
    vertical-align: middle;
}

.partner-images img:last-child {
    margin-right: 0;
}

.partner-text {
    margin-top: 70px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.partner-name {
    margin-top: 35px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    margin-bottom: 30px;
}

.partner-item {
    text-align: center;
    display: block;
}